## Importing  SparkSession from the pyspark.sql module.

In [1]:
from pyspark.sql import SparkSession

## Initializing the SparkSession

In [2]:
spark = SparkSession.builder.appName("MySparkApplication").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/29 17:16:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/10/29 17:16:45 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [18]:
df_pyspark = spark.read.csv('/Users/kvenkateshrao/Downloads/Tableau Full course/Season.csv',header=True,inferSchema=True)

## Creating DataFrames from Data Structures

In [5]:
data = [("John", 28), ("Anna", 23), ("Mike", 35)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

## Display Data

In [8]:
df_pyspark.show()

+---------+-----------+-------------+-------------+--------------------+
|Season_Id|Season_Year|Orange_Cap_Id|Purple_Cap_Id|Man_of_the_Series_Id|
+---------+-----------+-------------+-------------+--------------------+
|        1|       2008|          100|          102|                  32|
|        2|       2009|           18|           61|                  53|
|        3|       2010|          133|          131|                 133|
|        4|       2011|          162|          194|                 162|
|        5|       2012|          162|          190|                 315|
|        6|       2013|           19|           71|                  32|
|        7|       2014|           46|          364|                 305|
|        8|       2015|          187|           71|                 334|
|        9|       2016|            8|          299|                   8|
+---------+-----------+-------------+-------------+--------------------+

In [12]:
df_pyspark.show(n=5,truncate=False)

+---------+-----------+-------------+-------------+--------------------+
|Season_Id|Season_Year|Orange_Cap_Id|Purple_Cap_Id|Man_of_the_Series_Id|
+---------+-----------+-------------+-------------+--------------------+
|1        |2008       |100          |102          |32                  |
|2        |2009       |18           |61           |53                  |
|3        |2010       |133          |131          |133                 |
|4        |2011       |162          |194          |162                 |
|5        |2012       |162          |190          |315                 |
+---------+-----------+-------------+-------------+--------------------+
only showing top 5 rows

In [14]:
df_pyspark.show(n=5)

+---------+-----------+-------------+-------------+--------------------+
|Season_Id|Season_Year|Orange_Cap_Id|Purple_Cap_Id|Man_of_the_Series_Id|
+---------+-----------+-------------+-------------+--------------------+
|        1|       2008|          100|          102|                  32|
|        2|       2009|           18|           61|                  53|
|        3|       2010|          133|          131|                 133|
|        4|       2011|          162|          194|                 162|
|        5|       2012|          162|          190|                 315|
+---------+-----------+-------------+-------------+--------------------+
only showing top 5 rows

## Schema and Summary Information:

In [16]:
df_pyspark.printSchema()

root
 |-- Season_Id: integer (nullable = true)
 |-- Season_Year: integer (nullable = true)
 |-- Orange_Cap_Id: integer (nullable = true)
 |-- Purple_Cap_Id: integer (nullable = true)
 |-- Man_of_the_Series_Id: integer (nullable = true)

In [17]:
df_pyspark.describe().show()

24/10/29 17:31:21 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+-----------------+------------------+--------------------+
|summary|         Season_Id|       Season_Year|    Orange_Cap_Id|     Purple_Cap_Id|Man_of_the_Series_Id|
+-------+------------------+------------------+-----------------+------------------+--------------------+
|  count|                 9|                 9|                9|                 9|                   9|
|   mean|               5.0|            2012.0|92.77777777777777|164.77777777777777|  152.66666666666666|
| stddev|2.7386127875258306|2.7386127875258306|71.18774082975554|107.60782705939398|   133.6487934850143|
|    min|                 1|              2008|                8|                61|                   8|
|    max|                 9|              2016|              187|               364|                 334|
+-------+------------------+------------------+-----------------+------------------+--------------------+